
body {
  font-size: 20px;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6, .contact-me, .contact-me h4 {
  font-weight: 600;
  font-family: 'Quicksand', sans-serif !important;
}
p, div, .accordion .btn {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.015rem;
}

section {
  /* background-color: #FDF0EC; */
  background-color: #FEFAF6;
  padding-bottom: 4%;
}
.checkout-work {
  background-color: #FEFAF6;
  text-align: center;
  padding: 6%;
}
a {
  color: #212529;
  transition: all 0.2s;
}
span {
  font-family: 'Quicksand', sans-serif;
}

a:focus, a:hover {
  color: #f4623a;
}
.flex-container {
  display: flex;
}
.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}
hr.divider{
  margin: auto;
  max-width: 4rem;
  border-width: .2rem;
  border-color: #f4623a;
  padding-bottom: 20px;
}

.btn.btn-xl {
  margin-top: 2rem;
  padding: 1.25rem 2.25rem;
  font-size: .85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
  color: #fff;
  background-color: #f4623a;
}
.my-experience {
  margin-top: 1.0em;
  margin-bottom: 3.0em;
}
.flex {
  display: flex;
}
.text.flex {
  margin-bottom: 3rem;
}
.skillItem .col-md-4 {
  font-weight: 700;
}
.skillItem .item {
  margin-bottom: 0.4rem;
}
.portfolio-show header.masthead .site-heading {
  padding: 140px 0;
}

.fab.fa-github {
  font-size: 1.5rem;
}
.no-gutters {
  font-size: 1.1rem;
}

.card .card-body .text-primary {
  color: #6f88c4 !important;
}
.card-body .no-gutters>.col, .card-body .no-gutters>[class*=col-] {
  padding: 1rem 1rem 1rem 0;
  width: 33%;
}
.accordion .btn.btn-link {
  color: black;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.8rem;
    transition: color 0.1s ease;
}
.accordion .btn.btn-link:hover, .accordion .btn.btn-link:active {
  color: #FA805A;
  text-decoration: none;
  transform: scale(1.01);
}
/* .btn-link.focus, .btn-link:focus {
  text-decoration: underline;
  box-shadow: none;
} */
.accordion .btn-link.focus, .accordion .btn-link:focus, .accordion .btn-link:active {
  text-decoration: none;
  box-shadow: none;
}
.tile-wrapper {
  width: 100%;
  border-radius: 10px;
  padding: 3rem 0;
  margin: 0;

}
.dearest-building .tile-wrapper {
  padding-top: 0;
}
.tile-1 {
  background: linear-gradient(338.83deg,#f8c6ff -3.41%,rgba(255,196,255,0) 52.31%),#ffeec4;
  max-width: 1000px;
  margin: 0 auto;
}
.tile-2 {
  /* background: linear-gradient(338.83deg, rgba(218,184,105,0.87718837535014) -3.41%, rgba(197,226,232,1) 52.31%); */
  
}
.tile {
  cursor: pointer;
}
.tile-wrapper .image-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.tile-wrapper.tile-1 .image-container img {
  max-width: 444px;
}
.tile-wrapper.tile-2 .image-container img {
  border-radius: 10px;
}
.checkout-work  .btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #a5b5da;
  border-radius: 0.6em;
  color:  #a5b5da;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 auto;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
.work-btn {
  margin: 8% 0;
}
.checkout-work .btn:hover {
  color: #fff;
  outline: 0;
}
.checkout-work .btn:focus {
  color:#a5b5da;
}
.portfolio-show .description{
  padding: 6% 0;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 0;
}

.dearest-io.portfolio-show .description {
  padding: 6%;
}

.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #a5b5da inset;
  text-decoration: none;
}
.checkout-work  a:hover {
  text-decoration: none;
}

.masthead {
  animation: fadeIn 0.15s ease-in;
}
@keyframes fadeIn {
  from {opacity:0}
  to {opacity:1}
}
.popout {
  animation: popout 0.5s ease;
  -webkit-animation: popout 0.5s ease;
}
@keyframes popout {
  from{transform:scale(0.75)}
  to{transform:scale(1)}
}
.my-picture {
  margin-top: 10%;
  max-width: 100%;
  display: block;
  width: 30%;
  align-self: flex-start;
}
.my-picture img {
  border-radius: 10%;
}
#about .desc {
  width: 70%;
  padding: 2rem 2rem 2rem 4rem;
}
#about .container {
  padding-top: 5%;
}
.row.no-gutters {
  margin-top: 1rem;
}
.blog-realistic-shadow-box {
  background-color: #fff;
  border-radius: 3px;
  padding: 1rem;
  margin-left: 0 auto;
  display: inline-block;
  color: #333;
  width: auto;
  color: #2e857f;
  box-shadow: 0 1px 1px rgba(16,27,30,0.15), 0 2px 2px rgba(16,27,30,0.15), 0 4px 4px rgba(16,27,30,0.15), 0 8px 8px rgba(16,27,30,0.15), 0 16px 16px rgba(16,27,30,0.15);
  cursor: pointer;
}
.blog-realistic-shadow-box.works {
  
  color: rosybrown;
  
}
.blog-realistic-shadow-box:hover{
  /* animation: roll 1s infinite;
  transform: rotate(30deg); */
  animation: rotate 0.4s;
  transform: rotate(1deg);
  
}

.card .card-header {
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
#accordion .card-header:hover{
  transform: translate(0,-4px); 
}
#accordion .card-header {
  transition: transform 0.3s ease;
}
.card .card-header {
  padding: 1.5rem 1.25rem;
}
#accordion .card-header {
  margin-bottom: 0px;
  border-radius: 10px;
}
#accordion .card {
  margin: 0;
  padding: 1rem;
  border-radius: 10px;
  background-color: #FEE4DC;
}
.typewriter p {
  font-size: 26px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    /* typing 4.5s steps(40, end), */
    typing 4.5s steps(40, end),
    blink-caret .85s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}
#portfolio, #skills {
  padding-bottom: 7rem;
}
#portfolio {
  background-color:  #e9c3b8;
  padding-bottom: 10%;
  padding-top: 5%;
}
#skills {
  /* background-color: #3bab87;
  color: #fff; */
  background-color: #2e857f;
  color: #fff;
}

#portfolio .container, #contact .container {
  padding: 0 54px;
}
#contact {
  padding: 8%;
}

.portfolioItem {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolioItem .caption {
  display: flex;
  height: 100%;
  width: 100%;
  /* background-color: rgba(33, 37, 41, 0.2); */
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  justify-content: center;
}

.portfolioItem .caption .caption-content {
  
  color: #fff;
  align-self: center;
}
.portfolioItem .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolioItem .caption .caption-content p {
  font-weight: 300;
  font-size: 1.3rem;
}
.portfolioItem .img-background{
  background-color: yellowgreen;
}
.contact-me {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.portfolioItem {
  max-width: none;
  margin: 0;
  border-radius: 2px;
}
.portfolioItem .caption {
  -webkit-transition: background-color 0.5s;
}
.portfolioIItem .caption .caption-content {
  transition: opacity 0.5s;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.portfolioItem:hover .caption {
  background-color: rgba(38, 49, 53, 0.9);

}
.portfolioItem .text {
  display: none;
}
.portfolioItem:hover .text {
  display: block;
  font-size: 2rem;
  
}

/* Modal */
.portfolio-modal .modal-dialog {
  margin: 40px 160px;
  max-width: 100vw;

}

.portfolio-modal .modal-content {
  padding: 50px 0;
  text-align: center;
}
/* .uk-navbar-container:not(.uk-navbar-transparent) {
  background: transparent !important;
} */
.uk-navbar-sticky.uk-navbar {
  background-color: #f8f8f8 !important;
}
.portfolio-modal .modal-content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.portfolio-modal .modal-content .container {
  padding-right: 30px;
}
.portfolio-modal .modal-content .col-lg-4.mx-auto {
  margin-top: 4rem;
}
.portfolio-modal .modal-content .col-lg-8.mx-auto {
  padding-right: 0;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
i.fa-github-square{
  font-size: 2rem;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  transform: rotate(90deg);
  background-color: #212529;
}



footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}
/*Footer*/
.contact-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.contact-section .card {
    border: 0;
    border-bottom: .25rem solid #a5b5da;
    background-color:  #e9edf6;
}
.contact-section .card h4 {
    font-size: .8rem;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.contact-section .card hr {
    border-color: #a5b5da;
    border-width: .25rem;
    width: 3rem;
    margin: auto;
}
.text-black-50 {
    color: #212529;
}
.small a, .card-body .red {
    color: #333333;
    font-size: 1rem;
}
#accordion .card-body {

  padding-bottom: 4rem;
}
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 640px;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio-show header.masthead .site-heading {
    padding-bottom: 40px;
  }
  #contact .container {
    padding: 0;
  }
  .checkout-work .btn {
    padding: 2rem;
  }
  .tile-wrapper.tile-1 .image-container img {
    max-width: 100%;
  }
  .container .typewriter p {
    font-size: 18px;
    white-space: break-spaces;
    animation: none;
    border: none;
  }
  #portfolio .container  {
    padding: 0;
  }
  .card-body {
    padding: 0.25rem;
  }
  .card-body .no-gutters>[class*=col-] {
    padding: 1rem 1rem 1rem 0;
    width: 100%;
  }
  #portfolio, #skills {
    padding-bottom: 3rem;
  }
  .container, .container-md, .container-sm {
    max-width: none;
  }
  .flex-container {
    flex-direction: column;
  }
  .my-picture {
    width: 100%;
    padding: 1rem;
  }
  #about .desc {
    width: 100%;
    padding: 1rem;
}
  .btn.btn-xl {
    display: block !important;
  }
  h2 {
    font-size: 32px;
  }
  .contact-section {
    margin-top: 1rem;
  }
  .portfolio-modal .modal-dialog {
    margin: 40px 24px;
    max-width: 100vw;
  }
  .portfolio-modal .modal-content .container {
    padding: 0 30px;
    margin-top: 2rem;
  }
  .portfolio-modal .modal-content .col-lg-4.mx-auto {
    margin-top: 1rem;
}
  .portfolio-modal .close-modal .lr {
    height: 40px;
  }
  .portfolio-modal .close-modal .lr .rl {
    height: 40px;
  }
  .portfolio-modal .close-modal {
    top: 25px;
    right: 40px;
    width: 40px;
    height: 40px;
  }
  .portfolio-modal .modal-content p {
    margin-bottom: 1rem;
  }
  .portfolio-modal .modal-content img {
    margin-bottom: 0;
  }
  .no-gutters>[class*=col-] {
    margin: 0.5rem 0rem;
  }
  .portfolio-modal .modal-content h2 {
    font-size: 1.5rem;
  }
}




p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}


a {
  color: #212529;
  transition: all 0.2s;
}

a:focus, a:hover {
  color: #0085A1;
}

blockquote {
  font-style: italic;
  color: #868e96;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 20px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
}
/* #mainNav.works-section .navbar-brand, #mainNav.works-section .navbar-nav > li.nav-item > a {
  color: #333333;
} */
#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.9px;
}

/* @media only screen and (max-width: 1200px) {
  .container .typewriter p {
    font-size: 20px;
    
  }
} */

@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0;
  }
  .container .typewriter p {
    font-size: 20px;
  }
}


@media only screen and (min-width: 992px) {
  .container .typewriter p {
    font-size: 22px;
  }

  #mainNav {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  #mainNav .navbar-brand {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .navbar-nav > li.nav-item > a {
    padding: 10px 20px;
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1200px) {
  .container .typewriter p {
    font-size: 26px;
  }
}
@media only screen and (min-width: 992px) {
  #mainNav {
    transition: background-color 0.2s;
    /* Force Hardware Acceleration in WebKit */
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
  }
  #mainNav.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -67px;
    transition: transform 0.2s;
    border-bottom: 1px solid white;
    background-color: rgba(255, 255, 255, 0.9);
  }
  #mainNav.is-fixed .navbar-brand {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
    color: #0085A1;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a {
    color: #212529;
  }
  #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
    color: #0085A1;
  }
  #mainNav.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    transform: translate3d(0, 100%, 0);
  }
}

header.masthead {
  padding-bottom: 10px;
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
}
header.masthead .site-heading.typewriter {
  text-align: center;
  margin: 0 auto;
  
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.5;
}
.dearest-io header.masthead .overlay {
  opacity: 0.9;
}
.portfolio-show .description p {
  font-size: 1.4rem;
  margin-top: 32px;
}
.portfolio-show .description  p.h2-explanation {
  font-size: 1.2rem;
}

header.masthead.portfolio-show .overlay {
  
  background-color: #191a1d;
  opacity: 1;
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
}


header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}
header.masthead .site-heading.dark h1 {
   color: #fff;
}
header.masthead .site-heading.dark .subtitle {
  color: #ababab;
}


header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 60px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

header.masthead .post-heading .subheading {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 30px;
}

header.masthead .post-heading .meta {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

header.masthead .post-heading .meta a {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }
  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  text-decoration: none;
  color: #0085A1;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px;
}

.post-preview > .post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-meta > a {
  text-decoration: none;
  color: #212529;
}

.post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
  text-decoration: underline;
  color: #0085A1;
}

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
  color: #868e96;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group .help-block {
  margin: 15px 0;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085A1;
}

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6;
}

footer {
  padding: 50px 0 65px;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1;
  color: #a5b5da;
}

.btn-primary:hover {
  color: #fff;
  background-color: #00657b !important;
  border-color: #00657b !important;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}