
 body {
    font-size: 20px;
    color: #212529;
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  }
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    font-family: 'Varela Round', Helvetica, Arial, sans-serif !important;
  }
  
  a {
    color: #212529;
    transition: all 0.2s;
  }
  span {
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  }
  
  a:focus, a:hover {
    color: #f4623a;
  }
  
  .section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
  }

  hr.divider{
    margin: auto;
    max-width: 4rem;
    border-width: .2rem;
    border-color: #f4623a;
    padding-bottom: 20px;
  }
  
  
  #mainNav {
    position: absolute;
    border-bottom: 1px solid #e9ecef;
    background-color: white;
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  }
  
  #mainNav .navbar-brand {
    font-weight: 800;
    color: #343a40;
  }
  
  #mainNav .navbar-toggler {
    font-size: 0.9rem;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40;
  }
  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  header.masthead {
    margin-bottom: 0;
    height: 100vh;

    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    background-position: bottom;
  }

  .site-heading h2 {
    color: white;
  }

#portfolio {
  margin-bottom: 7rem;
}
#portfolio .container, #contact .container {
  padding: 0 54px;
}

.portfolioItem {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolioItem .caption {
  display: flex;
  height: 100%;
  width: 100%;
  /* background-color: rgba(33, 37, 41, 0.2); */
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolioItem .caption .caption-content {
  
  color: #fff;
  margin: auto 2rem 2rem;
}
.portfolioItem .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolioItem .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}
.portfolioItem .img-background{
  background-color: yellowgreen;
}
.contact-me {
  text-align: center;
}

@media (min-width: 992px) {
  .portfolioItem {
    max-width: none;
    margin: 0;
  }
  .portfolioItem .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolioIItem .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolioItem .img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolioItem:hover .img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolioItem:hover .caption {
    background-color: rgba(38, 49, 53, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);

  }
  .portfolioItem .text {
    display: none;
  }
  .portfolioItem:hover .text {
    display: block;
    font-size: 2rem;    
    margin-left: 1rem;
    top: 40%;
    position: absolute;
}

/* Modal */
.portfolio-modal .modal-dialog {
  margin: 40px 160px;
  max-width: 100vw;

}

.portfolio-modal .modal-content {
  padding: 50px 0;
  text-align: center;
}
/* .uk-navbar-container:not(.uk-navbar-transparent) {
  background: transparent !important;
} */
.uk-navbar-sticky.uk-navbar {
  background-color: #f8f8f8 !important;
}
.portfolio-modal .modal-content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.portfolio-modal .modal-content .container {
  padding-right: 30px;
}
.portfolio-modal .modal-content .col-lg-4.mx-auto {
  margin-top: 4rem;
}
.portfolio-modal .modal-content .col-lg-8.mx-auto {
  padding-right: 0;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  transform: rotate(90deg);
  background-color: #212529;
}


  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
  }
  
  header.masthead .page-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
  }
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
  }
  
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
  }
  
  
  footer {
    padding: 50px 0 65px;
  }
  
  footer .list-inline {
    margin: 0;
    padding: 0;
  }
  
  footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
  
  .btn.btn-xl {
    margin-top: 2rem;
    padding: 1.25rem 2.25rem;
    font-size: .85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #fff;
    background-color: #f4623a;
  }

  .card .card-body .text-primary {
    color:#f4623a!important;
}


  @media only screen and (min-width: 992px) {
    #mainNav {
      border-bottom: 1px solid transparent;
      background: transparent;
    }
    #mainNav .navbar-brand {
      padding: 10px 20px;
      color: #fff;
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color:  #f4623a;
    }
    #mainNav .navbar-nav > li.nav-item > a {
      padding: 10px 20px;
      color: #fff;
    }
    #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
      color:  #f4623a;
    }
    #mainNav {
        transition: background-color 0.2s;
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
      }
      #mainNav.is-fixed {
        position: fixed;
        top: -67px;
        transition: transform 0.2s;
        border-bottom: 1px solid white;
        background-color: rgba(255, 255, 255, 0.9);
      }
      #mainNav.is-fixed .navbar-brand {
        color: #212529;
      }
      #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
        color:  #f4623a;
      }
      #mainNav.is-fixed .navbar-nav > li.nav-item > a {
        color: #212529;
      }
      #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
        color:  #f4623a;
      }
      #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        transform: translate3d(0, 100%, 0);
      }
  }

    /*Footer*/
    .contact-section {
      margin-top: 5rem;
    }
    .contact-section .card {
        border: 0;
        border-bottom: .25rem solid #f4623a;
        background-color: #ffecef
    }
    .contact-section .card h4 {
        font-size: .8rem;
        font-family: 'Varela Round';
        text-transform: uppercase;
        letter-spacing: .15rem;
    }
    
    .contact-section .card hr {
        border-color: #f4623a;
        border-width: .25rem;
        width: 3rem;
        margin: auto;
    }
    .text-black-50 {
        color: #212529;
    }
    .small a {
        color:#f4623a;
    }
}
  
@media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .site-heading {
      padding: 200px 0;
    }
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-size: 80px;
    }
  
}
@media only screen and (max-width: 768px) {
    header.masthead {
      height: auto !important;
    }

}