
 body {
    font-size: 20px;
    color: #212529;
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  }
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #212529;
    transition: all 0.2s;
  }
  span {
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  }
  
  a:focus, a:hover {
    color: #f4623a;
  }
  
  .section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
  }

  hr.divider{
    max-width: 3.25rem;
    border-width: .2rem;
    border-color: #f4623a;
  }
  
  
  #mainNav {
    position: absolute;
    border-bottom: 1px solid #e9ecef;
    background-color: white;
    font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  }
  
  #mainNav .navbar-brand {
    font-weight: 800;
    color: #343a40;
  }
  
  #mainNav .navbar-toggler {
    font-size: 0.9rem;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: #343a40;
  }
  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  header.masthead {
    margin-bottom: 50px;
    height: 100vh;

    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
    background-position: bottom;
  }
  
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
  }
  
  header.masthead .page-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
  }
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
  }
  
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
  }
  
  
  footer {
    padding: 50px 0 65px;
  }
  
  footer .list-inline {
    margin: 0;
    padding: 0;
  }
  
  footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
  
  .btn.btn-xl {
    margin-top: 2rem;
    padding: 1.25rem 2.25rem;
    font-size: .85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #fff;
    background-color: #f4623a;
  }

  .card .card-body .text-primary {
    color:#f4623a!important;
}


  @media only screen and (min-width: 992px) {
    #mainNav {
      border-bottom: 1px solid transparent;
      background: transparent;
    }
    #mainNav .navbar-brand {
      padding: 10px 20px;
      color: #fff;
    }
    #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color:  #f4623a;
    }
    #mainNav .navbar-nav > li.nav-item > a {
      padding: 10px 20px;
      color: #fff;
    }
    #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
      color:  #f4623a;
    }
    #mainNav {
        transition: background-color 0.2s;
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
      }
      #mainNav.is-fixed {
        position: fixed;
        top: -67px;
        transition: transform 0.2s;
        border-bottom: 1px solid white;
        background-color: rgba(255, 255, 255, 0.9);
      }
      #mainNav.is-fixed .navbar-brand {
        color: #212529;
      }
      #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
        color:  #f4623a;
      }
      #mainNav.is-fixed .navbar-nav > li.nav-item > a {
        color: #212529;
      }
      #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
        color:  #f4623a;
      }
      #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        transform: translate3d(0, 100%, 0);
      }
  }

    /*Footer*/
    .contact-section .card {
        border: 0;
        border-bottom: .25rem solid #f4623a;
        background-color: #ffecef
    }
    .contact-section .card h4 {
        font-size: .8rem;
        font-family: 'Varela Round';
        text-transform: uppercase;
        letter-spacing: .15rem;
    }
    
    .contact-section .card hr {
        border-color: #f4623a;
        border-width: .25rem;
        width: 3rem;
    }
    .text-black-50 {
        color: #212529;
    }
    .small a {
        color:#f4623a;
    }
  
  @media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .site-heading {
      padding: 200px 0;
    }
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-size: 80px;
    }
  }
  